name: Global Variable Demo

on:
  workflow_dispatch:
    inputs:
      e1:
        type: boolean
        default: false
      e2:
        type: boolean
        default: false

jobs:
  demo-global-variables:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check E1
        run: |
          echo "SUMMARY=" >> $GITHUB_ENV

          if ${{ inputs.e1 }}; then
            echo "SUMMARY=$SUMMARY\nE1" >> $GITHUB_ENV
            echo "ERROR=1" >> $GITHUB_ENV
          fi

      - name: Check E2
        run: |
          if ${{ inputs.e2 }}; then
            echo "SUMMARY=$SUMMARY\nE2" >> $GITHUB_ENV
            echo "ERROR=1" >> $GITHUB_ENV
          fi

      - name: Summary
        run: |
          if $ERROR; then
            echo "Error occurred during execution"
          fi
          echo "$SUMMARY"
