name: GitHub Env Test
on:
  workflow_dispatch:

jobs:
  env-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: S1
        run: |
          echo "Z=Zebra" >> $GITHUB_ENV
          echo $Z

      - name: S2
        run: echo $Z
