name: GitHub Env Test
on:
  workflow_dispatch:

jobs:
  env-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: S1
        run: |
          for x in ab bc cd de; do
            Z="$Z\n$x"
            echo -n $Z
          done
          echo "Z=$Z" >> $GITHUB_ENV

      - name: S2
        run: echo $Z
