name: "Create Repo"

on:
  workflow_dispatch:
    inputs:
      visibility:
        type: "choice"
        options:
          - private
          - public
          - internal

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Create a repo"
        run: |
          gh repo create test-${{ github.event.inputs.visibility }} -d test-${{ github.event.inputs.visibility }} --${{ github.event.inputs.visibility }}
