on:
  workflow_dispatch:
    inputs:
      create_github_repo:
        description: "Should a GitHub repo be created?"
        required: true
        default: true
        type: "boolean"
      repo_name:
        description: "The name of the repository to create/use"
        required: true
      repo_description:
        description: "The description of the repository to create"
        required: false
      repo_visibility:
        description: "The visibility of the repository to create"
        type: "choice"
        default: "internal"
        options:
          - internal
          - private
        required: true
      maintainer_team_name:
        description: "The name of the maintainer team to add to the repository"
        type: "string"
        required: false
      developer_team_name:
        description: "The name of the developer team to add to the repository"
        type: "string"
        required: false
      create_jfrog_repos:
        description: "Are corresponding JFrog repositories to be created?"
        type: "boolean"
        default: true
        required: true
      package_type:
        description: "The type of package to create"
        type: "choice"
        default: "npm"
        options:
          - npm
          - nuget
          - j2ee
          - terraform
          - base

permissions:
  id-token: write
  contents: read

jobs:
  create-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub repo
        if: ${{ github.event.inputs.create_github_repo == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          # Check if repository already exists
          gh repo view ${{ github.repository_owner }}/${{ github.event.inputs.repo_name }}
          if gh repo view ${{ github.repository_owner }}/${{ github.event.inputs.repo_name }} > /dev/null 2>&1; then
            echo "Repository '${{ github.repository_owner }}/${{ github.event.inputs.repo_name }}' already exists. Skipping creation."
          else
            echo "Repository '${{ github.repository_owner }}/${{ github.event.inputs.repo_name }}' does not exist. Creating..."
            gh repo create ${{ github.repository_owner }}/${{ github.event.inputs.repo_name }} \
              -d "${{ github.event.inputs.repo_description }}" \
              --${{ github.event.inputs.repo_visibility }} \
              -p ${{ github.repository_owner }}/template-${{ github.event.inputs.package_type }}
            echo "Repository created successfully."
          fi

      - name: Attach permissions
        if: ${{ github.event.inputs.create_github_repo == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          # Process maintainer team
          if [[ -n "${{ github.event.inputs.maintainer_team_name }}" ]]; then
            echo "Checking if maintainer team '${{ github.event.inputs.maintainer_team_name }}' exists..."
            
            if gh api /orgs/${{ github.repository_owner }}/teams/${{ github.event.inputs.maintainer_team_name }} > /dev/null 2>&1; then
              echo "Team '${{ github.event.inputs.maintainer_team_name }}' exists. Adding 'maintain' permission to repository..."
              
              if gh api -X PUT /orgs/${{ github.repository_owner }}/teams/${{ github.event.inputs.maintainer_team_name }}/repos/${{ github.repository_owner }}/${{ github.event.inputs.repo_name }} -f permission=maintain > /dev/null 2>&1; then
                echo "Successfully added 'maintain' permission for team '${{ github.event.inputs.maintainer_team_name }}'."
              else
                echo "Failed to add permission for team '${{ github.event.inputs.maintainer_team_name }}'."
                exit 1
              fi
            else
              echo "Team '${{ github.event.inputs.maintainer_team_name }}' does not exist. Skipping."
            fi
          else
            echo "No maintainer team specified. Skipping maintainer team permission assignment."
          fi

          # Process developer team
          if [[ -n "${{ github.event.inputs.developer_team_name }}" ]]; then
            echo "Checking if developer team '${{ github.event.inputs.developer_team_name }}' exists..."
            
            if gh api /orgs/${{ github.repository_owner }}/teams/${{ github.event.inputs.developer_team_name }} > /dev/null 2>&1; then
              echo "Team '${{ github.event.inputs.developer_team_name }}' exists. Adding 'push' permission to repository..."
              
              if gh api -X PUT /orgs/${{ github.repository_owner }}/teams/${{ github.event.inputs.developer_team_name }}/repos/${{ github.repository_owner }}/${{ github.event.inputs.repo_name }} -f permission=push > /dev/null 2>&1; then
                echo "Successfully added 'push' permission for team '${{ github.event.inputs.developer_team_name }}'."
              else
                echo "Failed to add permission for team '${{ github.event.inputs.developer_team_name }}'."
                exit 1
              fi
            else
              echo "Team '${{ github.event.inputs.developer_team_name }}' does not exist. Skipping."
            fi
          else
            echo "No developer team specified. Skipping developer team permission assignment."
          fi

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        if: ${{ github.event.inputs.create_jfrog_repos }}
        env:  
          JF_URL: ${{ vars.ARTIFACTORY_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JFROG_ARTIFACTORY_BUILD_ROLE }}
      
      - name: Create JFrog repos
        if: ${{ github.event.inputs.create_jfrog_repos }}
        run: |
          stages=("dev" "qa" "uat" "prod")

          declare -A repo_layouts=( ["npm"]="npm-default" ["nuget"]="nuget-default" ["j2ee"]="maven-2-default")

          repo_layout="${repo_layouts[${{ github.event.inputs.package_type }}]}"
          if [[ -z $repo_layout ]]; then
            repo_layout="simple-default"
          fi

          for stage in "${stages[@]}"; do
            env=$(echo "$stage" | tr '[:lower:]' '[:upper:]')
            repo_name="${{ github.event.inputs.repo_name }}-$stage"
            repo_description="$env repository for ${{ github.event.inputs.repo_name }}"
            echo "Creating jfrog repository for stage: $stage"
            echo "Checking if repository '$repo_name' exists..."

            if jfrog rt curl -XGET "/api/repositories/$repo_name" --silent --fail > /dev/null 2>&1; then
              echo "Repository '$repo_name' already exists. Skipping creation."

            else
              echo "Repository '$repo_name' does not exist. Creating..."

              cat > repo-config-${stage}.json <<EOF
          {
            "key": "$repo_name",
            "rclass": "local",
            "packageType": "${{ github.event.inputs.package_type }}",
            "description": "$repo_description",
            "repoLayoutRef": "$repo_layout",
            "environments": "$env"
          }
          EOF

              if jfrog rt repo-create repo-config-${stage}.json; then
                echo "Repository '$repo_name' created successfully."
              else
                echo "Failed to create repository '$repo_name'."
                exit 1
              fi
            fi
          done
